.nav{

  width: 20rem;
  height: 20rem;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: $z-fixed;
  transition: transform .5s;
  transform: translate(-20rem);

  &.is-active{
    transform: translate(0);
  }

  &-list{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;



  }

  &-item{
    width: 8rem;

    &:nth-child(2){
      padding-left: 2rem;
    }
    &:nth-child(3){
      padding-left: 4rem;
    }
    &:nth-child(4){
      padding-left: 6rem;
    }

  }

  &-link{

    text-decoration: none;
    font-size: 2rem;
    color: white;

  }


}