.toggler {
  background: palevioletred;
  position: fixed;
  top: 0;
  left: 0;
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  z-index: $z-fixed;
  transition: transform .5s;

  @include from(m) {
    width: 16rem;
    height: 16rem;
  }

  &.is-active {
    transform: translate(-50%, -50%) rotate(-90deg);
  }




  &-bars {

    width: 2rem;
    height: 2rem;
    position: relative;
    top: 6rem;
    left: 6rem;
    z-index: $z-fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    cursor: pointer;

    @include from(m) {
      width: 3rem;
      height: 3rem;
      top: 10rem;
      left: 10rem;
    }


  }

  &-bar {

    width: 100%;
    height: .3rem;
    background: white;
    border-radius: 7px;
    @include from(m){
        height:.5rem;
    }


  }

  &-closes {
    width: 2rem;
    height: 2rem;
    position: relative;
    top: 4rem;
    left: 2rem;
    z-index: $z-fixed;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;

    @include from(m) {
      width: 3rem;
      height: 3rem;
      top: 7rem;
      left: 3rem;
    }

  }

  &-close {
    width: 100%;
    height: .3rem;
    background: white;
    position: absolute;
    border-radius: 7px;
    @include from(m){
      width: 100%;
      height: .5rem;
    }

  }

  &-close:first-child {
    transform: rotate(45deg);

  }

  &-close:last-child {
    transform: rotate(-45deg);

  }

}