body{
  background: brown;
}
.container{
  background: white;
  width: 100%;
  min-height: 100vh;
  transform-origin: top left;
  transform-style: preserve-3d;
  transition: transform .5s;
  display: flex;
  justify-content: center;
  align-items: flex-start;

  &.is-active{
    transform: rotate(-25deg);
  }

}



.contenido{
  width: 800px;
  height: 800px;
  display:flex;
  justify-content:center;
  align-items:center;
  transform: translateY(15rem);

  & img{
    width: 50%;
    height: 50%;
    animation: rotar 20s  linear infinite;
  }


}